/*=======RESET=========*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-weight: 300;
    font-family: Calibri, sans-serif;
}
body{
    background-color: #f5f5f5;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
/*--------*/
.container{
    width:100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
}
/*CABEÇALHO*/
.logo{
    width:56px;
    height: 56px;
    float: left;
    background: url('../img/logo-mobile.png') center center/56px no-repeat;
    font-size: 0;
}
.btn-menu{
    width:56px;
    height: 56px;
    float: right;
    border-radius: 56px;
    background: linear-gradient(to right, #ce2e3c, #da7609);
    text-align: center;
    color:#fff;
    cursor: pointer;
}
/*MENU*/
.menu{
    display: none;
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.8);
}
.btn-close{
    float: right;
    font-size: 3em;
    color:#fff;
    cursor: pointer;
    margin-right: 5%;
}
.menu ul{
    width: 100%;
    float:left;
    text-align: center;
}
.menu ul li{
    padding:1.5%;
}
li a{
    padding: 1.5% 3%;
    font-size: 2em;
    color:#fff
}
.menu li a:hover{
    border:1px solid #da7609;
    color:#da7609;
}
/*BANNER*/
.banner{
    background: url(../img/bg.jpg) no-repeat fixed;  
}
.title{
    width:100%;
}
.title h2{
    font-size: 2.5em;
    color:#fff;
    font-weight: 700;
}
.title h3{
    font-size: 1.5em;
    color: #fff;
}
.buttons{
    width: 100%;
    margin-top:2%;
}
.buttons i{
    float: right;
}
.btn{
    width:100%;
    padding:5%;
    border-radius:10px;
    text-align: left;
    font-size:1.5em;
    cursor: pointer;
}
.buttons .btn-cadastrar{
    background-color: #fff;
    color:#130400;
}
.buttons .btn-sobre{
    margin-top:2%;
    background-color: #130400;
    color:#fff;
}
/*SERVIcos*/
.servico{
    width: 100%;
    margin-bottom: 3%;
    border-radius: 7px;
    background-color: #fff;
    text-align: left;
}
.servico img{
    border-radius: 7px 7px 0 0;
}
.inner{
    padding: 7%;
}
.inner a{
    font-size: 1.5em;
    color:#130400;
    font-weight: 600;
}
.inner h4{
    font-size:1.2em;
    color:#130400;
    margin-top: 2%;
}
.inner p{
    margin-top: 6%;
    line-height: 1.5em;
    color:#130400;
}
/*NEWSLetter*/
.newsletter{
    background-color: #130400;
}
.newsletter h2{
    font-size: 1.5em;
    font-weight: 700px;
    color:#fff;
}
.newsletter h3{
    color:#fff;
}
.newsletter form{
    margin-top: 2%;
}
.newsletter input{
    width:100%;
    padding: 5%;
    border-radius: 2px;
    border:1px solid rgba(255, 255, 255, 0.3);
    background-color: #130400;
    color:#fff;
}
.newsletter button{
    width: 100%;
    padding: 5%;
    margin-top: 2%;
    border-radius: 5px;
    background-color: #fff;
    color: #130400;
    cursor: pointer;
}
/*Rodape*/
.rodape{
    background:linear-gradient(to top, #ca5768, #d6535a);
}
.social a{
    font-size: 1.5em;
    color:rgba(255, 255, 255, 0.7);
    margin-right: 3%;
}
.social a:last-child{
    margin-right: 0;
}
.social a:hover{
    color:#fff;
}
.rodape p{
    margin-top: 2%;
    color:#fff;
}
/*===============Mobile First*/
/*small device - Smart-fone*/
@media screen and (min-width:480px){
    .logo{
        width:216px;
        background: url('../img/logo.png') center center/216px no-repeat;
    }
    .btn{
        font-size:2.5em;
    }
    .newsletter input,
    .newsletter button{
        font-size: 1.5em;
    }
}
/*small device - Tablets*/
@media screen and (min-width:768px){
    .servico{
        width:49%;
        float:left;
        margin-right: 2%;
    }
    .servico:nth-child(2){
        margin-right: 0;
    }
    .newsletter h2{
        font-size:2em;
    }
    .newsletter h3{
        font-size: 1.5em;
    }
    .newsletter input{
        width:70%;
        float:left;
        padding: 2%;
        margin-right: 1%;
    }
    .newsletter button{
        width:29%;
        float:right;
        padding: 2%;
        margin-top: 0;
    }
}
/*medium device - Tablets & notebook*/
@media screen and (min-width:960px){
    .title{
        width:70%;
        float: left;
        text-align: left;
    }
    .title h2{
        font-size:3em;
    }
    .title h3{
        font-size:2em;
    }
    .buttons{
        width:30%;
        float:right;
        margin-top:0;
    }
    .servico{
        width:32%;
        margin-right: 2%;
    }
    .servico:nth-child(3){
        margin-right: 0;
    }
    .newsletter input{
        width: 60%;
        float: none;
    }
    .newsletter button{
        width: 20%;
        float: none;
    }
}
/*device - Laptop & Desktops*/
@media screen and (min-width:1024px){
    .btn-menu,
    .btn-close{
        display:none
    }
    header.cabecalho{
        width:50%;
    }
    nav.menu{
        display: block !important;
        position: static;
        float: right;
        width: auto;
        height: 56px;
        background-color: #f5f5f5;
        line-height: 56px;
    }
    .menu ul li{
        padding: 0;
        float: left;
    }
    .menu li a{
        padding: 15px;
        color:#130400;
        font-size: 1em;
    }
    .menu ul li a:hover{
        border:none;
    }
}